@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
:root {
    --main: #004282; /* Main color */
    --back: #ebebeb; /* Background color */
}
html {
    height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--back);
}
body {
    color: var(--main);
    background-color: var(--back);
    height: 100vh;
    scroll-behavior: smooth;
    font-family: "Source Code Pro", 'Courier New', Courier, monospace;
    letter-spacing: 0.082em;
    /* overflow: hidden; */
    background-color: var(--back);
    transition: all 0.82s ease;
}
@media (prefers-color-scheme: dark) {
  :root {
        --main: #ebebeb; /* Main color */
    --back: #004282; /* Background color */
  }
}


a {
    color: var(--main);
    text-decoration: none;
}
h1{
    /* justify-self: center; */
    font-size: clamp(4rem, 8vw, 8rem);
    font-family: "Source Serif 4", serif;
    font-weight: lighter;
}
h2{
    letter-spacing: 0;
    font-weight: 600;
    font-size: clamp(2rem, 2vw + 2rem, 6rem);
    letter-spacing: 0;
 
}
h3{
    font-weight: 400;
    font-size: clamp(1rem, 1vw + 1rem, 4rem);
}
    /* overwrite form */
h4{
font-family: "Source Code Pro", 'Courier New', Courier, monospace !important;
}

p{font-family: "Source Code Pro", 'Courier New', Courier, monospace !important; 
    font-weight: 200;
}
header{
    max-width: 420px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 2em;
    }
.wet{
   filter:url(#warp) blur(1px);
}
footer {
    position: relative; /* Change from fixed to relative */
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--main);
    text-align: center;
    margin: auto;
    font-size: smaller;
    padding: 1em;
}
.links{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2em;
}
.link{
    padding: 1em;
}
.thumbnail{
    max-width: 30vw;
}
.gallery{
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    padding: 1em;
    justify-content: center;
}

.step-container{
    width: 80%;
    margin: auto;
    max-width: 820px;
        height:100%;
    }
    
    .step{
    
        margin: auto;
        padding:0 2em 0 2em;
    
    }
    .step-container .step{
        margin-top: 4rem;
    }
    .step img{
        width: 100%;
        max-width: 420px;
    
    }

    .gallery{
        columns: 200px;
     display: flex;
     flex-wrap: wrap;
    }
    .gallery img{
        transition: all 0.82s;
    }
    .gallery-item{
        width: 100%;
        height: fit-content;
        padding: 0.5em;
        max-width: 300px;
        height:100%;
        align-self: center;
     }
    
    .gallery-item img.enlarged {
        margin: auto;
        object-fit: contain;
        z-index: 1000;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(42px);
        transition: all 0.82s;
        width: 82vw;
        max-height: 820px;
    }
