@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
html {
    height: 100vh;
    scroll-behavior: smooth;
}
body {
    height: 100vh;
    scroll-behavior: smooth;
    font-family: monospace;
    letter-spacing: 0.082em;
    /* overflow: hidden; */
}


canvas {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* opacity: 0.8; */
    filter: blur(2px);
    letter-spacing: 0.082em;
    scale: 1.082;
    mix-blend-mode: color-burn;

}
.info{
    /* margin: 3em; */
    font-size: 2em;
    color: ghostwhite;
    font-family: monospace;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 10px solid blue; */
    text-shadow: 4px 3px 4px #000082

}
.about{
    font-size: 3vw;
    color: #000082;
    background-color: ghostwhite;
    /* width: 100vw; */
    padding: 2em;
/*     filter: blur(1px); */

    margin: 0.82em;
    border-radius: 0.82em;
}
.isthisthemanifest{
    font-size: 2vw;
    color: #000082;
    background-color: ghostwhite;
    /* width: 100vw; */
    padding: 2em;
    filter: blur(3px);

    margin: 0.82em;
    border-radius: 0.82em;
}
a{
    text-decoration: none; 
    color: ghostwhite;
}
b:hover{
color: rgb(0, 82, 0);
transition: all 2s;
}
b{
    color: #000082;
    transition: all 2s;
}

h1:hover{
    color: rgb(82, 0, 0);
    transition: all 2s;
    }
    h1{
        color: #000082;
        transition: all 2s;
    }
    
.wet{
   filter: blur(1px);
}
